nav {
   z-index: 2;
   position: fixed;
   right: 0.8rem; 
   bottom: 0;
}

.btn-nav {
    padding: 0.75rem 1.2rem;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
    background: #18de11;
    color: var(--color-bg);
    font-size:medium; 
    font-weight: 700;
}
